@font-face {
	font-family:P22Underground-Demi;
	src: url(../fonts/P22Underground-Demi.otf);
}


/*@font-face {*/
	/*font-family: Raleway-Medium;*/
	/*src: url(../fonts/Raleway-Medium.ttf);*/
/*}*/

/*@font-face {*/
	/*font-family: Raleway-Medium;*/
	/*src: url(../fonts/Raleway-Medium.woff);*/
/*}*/

/*@font-face {*/
	/*font-family: Raleway-Medium;*/
	/*src: url(../fonts/Raleway-Medium.eot);*/
/*}*/


/*@font-face {*/
	/*font-family: Homemade-Apple;*/
	/*src: url(../fonts/HomemadeApple-Regular.ttf);*/
/*}*/

/*@font-face {*/
	/*font-family: Biro-Script;*/
	/*src: url(../fonts/Biro_Script_reduced.otf);*/
/*}*/



/* basic */
html {
	height: 100%;
}

body {
	min-height: 100%;
	height: auto;
	overflow-y: auto;
	font-family:  'Nunito', sans-serif;
	font-size: 16px;
	line-height: 30px;
	-webkit-overflow-scrolling: touch;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*h1{*/

	/*font-size: 50px;*/
/*}*/
/*h1,h2,h3,h4,h5{*/
	/*font-family:  'P22Underground-Demi';*/


/*}*/
.modal-footer>*:not(.col){
	margin: 0;
}
/* primary colors */
.bg-none {
	background-color: transparent
}

.bg-primary,
.badge-primary {
	background-color: #0D76FF !important
}

.text-primary {
	color: #0D76FF !important
}

.text-secondary {
	color: #666666 !important;
}

.text-default {
	color: #FF0068 !important
}

.text-info {
	color: #5ED0FB !important
}

.text-danger {
	color: #F16060 !important
}

.bg-primary-light {
	background-color: #CEE3FF !important
}

.bg-success,
.badge-success {
	background-color: #00BE7D !important
}

.text-success {
	color: #00BE7D !important
}

.bg-succss-light {
	background-color: #C0E9DB !important
}

.bg-warning,
.badge-warning {
	background-color: #FFC400 !important
}

.text-warning {
	color: #FFC400 !important
}

.bg-warning-light {
	background-color: #FFF0C1 !important
}

.bg-orange,
.badge-orange {
	background-color: #FF6F00 !important
}

h5 .badge {
	font-size: 50%
}

.bg-orange-light {
	background-color: #FFE5D1 !important
}

.bg-grey,
.badge-grey {
	background-color: #999999 !important
}

.bg-grey-light {
	background-color: #BBBBBB !important
}

.text-white a {
	color: #ffffff !important
}

.row.proh {
	position: relative;
	overflow-x: hidden;
}

.text-mute {
	opacity: 0.7;
}

.wrapper {
	height: auto;
	width: 100%;
	position: relative;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	margin-left: 0;
	z-index: 1;
	min-height: 100vh;
	/*padding-bottom: 80px;*/
	top: 69px;
}

p.small {
	line-height: 0.75em;
}

p:last-child {
	margin-bottom: 0;
}

sup {
	top: -.2em;
}

.background {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	opacity: 0.4;
	z-index: 0;
}

.background + div {
	position: relative;
	z-index: 1
}

/* sidebar  */
body.menuactive {
	overflow: hidden;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	opacity: 1;
}

html.menuactive {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body.menuactive .wrapper {
	overflow: hidden;
	height: 100vh;
}

body.sidemenu-open .wrapper {
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	opacity: 0.05;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
	/*margin-left: 300px;*/
	border-radius: 4px;
}

body.sidemenu-open .wrapper:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: block;
	user-select: none;
	-webkit-user-select: none;
	z-index: 10;
	cursor: pointer
}

.sidebar {
	position: absolute;
	padding-top: env(safe-area-inset-top);
	width: 100%;
	height: 100%;
	z-index: 10009;
	left: -100%;
	/*padding: 0 10%;*/
	top: 0;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	overflow-y: auto;
	background:#27245C ;
}

.sidebar-container{
	padding: 0 10%;

}

.sidebar .main-menu .list-group-item {
	background-color: transparent;
	font-size: 16px;
	border: 0;
	border-radius: 30px;
	padding: 3px;
	margin-bottom: 15px
}

/*.sidebar .main-menu .list-group-item:hover {*/
	/*background-color: rgba(255, 255, 255, 0.05);*/

/*}*/

/*.sidebar .main-menu .list-group-item.active {*/
	/*background-color: rgba(255, 255, 255, 0.15);*/
/*}*/

body.sidemenu-open .sidebar {
	left: 0;
}


.sidebar .figure-menu {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	padding: 2px;
	display: block;
	margin: 45px auto 20px auto;
	background-color: #ffffff;
}

.sidebar .figure-menu figure {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
}

.sidebar .figure-menu figure img {
	width: 100%;
}

.icons-raised {
	position: relative;
	border-radius: 30px;
	height: 44px;
	width: 44px;
	display: inline-block;
	vertical-align: middle;
	line-height: 44px;
	text-align: center;
	margin-right: 15px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .05);
	-ms-box-shadow: 0 3px 10px rgba(0, 0, 0, .05);
	background-color: rgba(255, 255, 255, 0.1)
}

.icons-raised .new-notification {
	top: 10px;
}

.closesidemenu {
	position: relative;
	/*bottom: -100px;*/
	opacity: 0;
	transition: all ease 1s;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-ms-transition: all ease 1s;
	/*left: 0;*/
	/*right: 0;*/
	/*margin: 0 auto;*/
	text-align: center;
	display: inline-block;
	z-index: 9;
	float: right;
}

body.sidemenu-open .closesidemenu {
	/*bottom: 20px;*/
	opacity: 1;
}

/* bread crumb */
.breadcrumb-item.active {
	color: #b9b9b9;
}

/* Loader css */
.laoderhorizontal {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.laoderhorizontal div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.laoderhorizontal div:nth-child(1) {
	left: 6px;
	animation: laoderhorizontal1 0.6s infinite;
}

.laoderhorizontal div:nth-child(2) {
	left: 6px;
	animation: laoderhorizontal2 0.6s infinite;
}

.laoderhorizontal div:nth-child(3) {
	left: 26px;
	animation: laoderhorizontal2 0.6s infinite;
}

.laoderhorizontal div:nth-child(4) {
	left: 45px;
	animation: laoderhorizontal3 0.6s infinite;
}


@keyframes laoderhorizontal1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes laoderhorizontal3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes laoderhorizontal2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(19px, 0);
	}
}

.btn-loader {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
}

.btn-loader div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	margin: 3px;
	border: 4px solid #fff;
	border-radius: 50%;
	animation: btnloader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #ffffff transparent transparent transparent;
}

.btn-loader div:nth-child(1) {
	animation-delay: -0.45s;
}

.btn-loader div:nth-child(2) {
	animation-delay: -0.3s;
}

.btn-loader div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes btnloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader-screen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	background-color: #FF0068;
}

/* introduction swiper slider css */
.demo-swiper,
.swiper-init {
	height: 450px;
	margin-top: 30px;
}

.demo-swiper .swiper-slide,
.swiper-init .swiper-slide {
	background-color: #ffffff
}

.demo-swiper .swiper-slide,
.swiper-init .swiper-slide {
	background-size: cover
}

.demo-swiper-gallery-top {
	height: 350px;
	margin-top: 30px;
}

.demo-swiper-gallery-top .swiper-slide {
	background-size: cover
}

.demo-swiper-gallery-thumbs {
	height: 80px;
}

.demo-swiper-gallery-thumbs .swiper-slide > div {
	height: 100%;
	width: 100%;
	background-size: cover;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #000000;
}

.introduction.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 0px;
}

.introduction .swiper-slide {
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	padding-top: env(safe-area-inset-bottom);
}

.bottom-button-container {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}



/* form elements */
.form-control {
	background: #ffffff;
	border-radius: 40px;
	border: 1px solid rgba(0, 0, 0, 0.08);
}

select.form-control option,
select.form-control optgroup {
	color: #000000
}

.form-control:focus {
	box-shadow: none;
	-ms-box-shadow: none;
}

.form-control::placeholder {
	color: #bbbbbb;
}

.float-label {
	padding-top: 20px;
	position: relative;
}

.form-group .form-control-label {
	font-size: 13px;
	line-height: 18px;
	color: #BBBBBB;
}

.float-label .form-control-label {
	position: absolute;
	left: 15px;
	top: 28px;
	margin: 0;
	line-height: 20px;
	color: #BBBBBB;
	font-size: 15px;
	transition: ease all 0.5s;
	-webkit-transition: ease all 0.5s;
	-ms-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	z-index: 1;
}

.float-label .form-control,
.float-label .chosen-container .chosen-choices,
.float-label .chosen-container .chosen-single {
	background-color: #ffffff;
	border-radius: 20px;
	z-index: 1;
	position: relative;
	background-image: none;
}

.float-label .form-control:focus {
	border-width: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	outline: none;
}

.form-control-lg {
	font-size: 18px;
}

.float-label .form-control-lg + .form-control-label {
	top: 32px;
}

.float-label .form-control-lg:focus + .form-control-label,
.float-label.active .form-control-lg + .form-control-label,
.float-label .form-control:focus + .form-control-label,
.float-label.active label {
	top: 0;
	font-size: 13px;
	line-height: 20px;
}

.form-group {
	margin-bottom: 0.5rem;
}


.search {
	border-radius: 30px;
	background: url('../img/search.png') no-repeat center right #fff;
}

.chosen-container-active .chosen-choices,
.chosen-container .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
}

.chosen-container-multi .chosen-choices,
.chosen-container .chosen-single {
	padding: 5px;
	height: auto;
	border-color: #ced4da;
}

.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container .chosen-single li.search-choice {
	position: relative;
	padding: 5px 25px 5px 15px;
	line-height: 18px;
	border: 0px none;
	border-radius: 30px;
	background-image: none;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	outline: none;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	top: 8px;
	right: 6px;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	padding: 5px;
}

.chosen-container.chosen-with-drop .chosen-drop {
	border: 0;
}

.chosen-container .chosen-results li.highlighted {
	background-image: none;
}

/* button */
.btn {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	border-width: 0;
}

[class*="outline"] {
	border-width: 1px;
}

body a.btn-primary,
body a.btn-warning,
body a.btn-danger,
body a.btn-success {
	color: #ffffff;
}

.btn-lg {
	padding: .815rem 1.5rem;
}

.btn-sm {
	font-size: 14px;
}

.btn i,
.btn span,
a i {
	vertical-align: middle
}

.btn img {
	max-width: 20px;
	vertical-align: middle;
}

.btn:focus {
	box-shadow: none;
	-ms-box-shadow: none;
}

.btn i:first-child {
	margin-right: 5px;
	margin-left: -4px;
}

.btn i:last-child {
	margin-left: 5px;
	margin-right: -4px;
}

.btn i:last-child:first-child {
	margin-left: 0px;
	margin-right: 0px;
}

.btn-rounded-54 {
	height: 54px;
	width: 54px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	border-radius: 28px;
}

.btn-rounded-36 {
	height: 36px;
	width: 36px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	border-radius: 28px;
}


.btn-rounded-40 {
	height: 40px;
	width: 40px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	border-radius: 28px;
}

.btn-rounded-26 {
	height: 26px;
	width: 26px;
	line-height: 22px;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	border-radius: 13px;
}

.float-bottom-right {
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index: 2;
	margin-bottom: env(safe-area-inset-bottom);
}

.float-bottom-right.stylepicker {
	position: fixed;
	right: 15px;
	bottom: 20px;
	z-index: 1002
}

.btn-rounded {
	border-radius: 30px;
}

.btn-rounded-10 {
	border-radius: 10px;
}

.btn-rounded-15 {
	border-radius: 15px;
}

.btn-default,
body .btn.btn-secondary {
	color: #ffffff
}

.btn-warning {
	background-color: #FFC400;
	color: #ffffff;
}

.btn-warning:focus,
.btn-warning:active,
.btn-warning:hover {
	background-color: #f0b000;
	color: #ffffff !important;
}

.btn.btn-link-default {
	color: #bbbbbb;
}

.shadow-sm {
	box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .05) !important;
	-webkit-box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .05) !important;
	-moz-box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .05) !important;
	-ms-box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .05) !important;
}

.btn.shadow-sm {
	box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2) !important;
	-webkit-box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2) !important;
	-moz-box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2) !important;
	-ms-box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2) !important;
}

.btn.shadow-xs {
	box-shadow: 0 .15rem .3rem rgba(0, 0, 0, .1) !important;
	-webkit-box-shadow: 0 .15rem .3rem rgba(0, 0, 0, .1) !important;
	-moz-box-shadow: 0 .15rem .3rem rgba(0, 0, 0, .1) !important;
	-ms-box-shadow: 0 .15rem .3rem rgba(0, 0, 0, .1) !important;
}

.btn-light,
body a.btn-light {
	background-color: #ffffff;
	color: #999999;
}

.btn-light-grey,
body a.btn-light-grey {
	background-color: #E3EAF1;
	color: #BBBBBB;
	border-color: #F3F6F8
}

.btn-group > .btn:first-child,
.btn-group > .btn:first-of-type,
.btn-group > .btn-group:first-child > .btn {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.btn-group > .btn:last-child,
.btn-group > .btn:last-of-type,
.btn-group > .btn-group:last-child > .btn {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}


.btn h6,
.btn h5,
.btn h4,
.btn h3,
.btn h2,
.btn h1 {
	vertical-align: middle
}

.vm {
	vertical-align: middle
}

.shadow {
	box-shadow: 0 .3rem 0.6rem rgba(0, 0, 0, .1) !important;
	-webkit-box-shadow: 0 .3rem 0.6rem rgba(0, 0, 0, .1) !important;
	-moz-box-shadow: 0 .3rem 0.6rem rgba(0, 0, 0, .1) !important;
	-ms-box-shadow: 0 .3rem 0.6rem rgba(0, 0, 0, .1) !important;
}

/*  input group */
.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
	margin: 2px;
	border-radius: 30px;
}

.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
	margin: 2px;
	border-radius: 30px;
}

.input-group {
	border: 1px solid rgba(0, 0, 0, 0.08);
	padding: 0;
	border-radius: 30px;
}

.input-group > .form-control {
	border: 0;
}

.input-group > .form-control:last-child {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.input-group > .input-group-prepend > .input-group-text + .input-group-text {
	border-radius: 0;
}

.w-45 {
	width: 45px !important;
	text-align: center
}

.w-35 {
	width: 35px !important;
	text-align: center
}

.input-group.input-group-sm > .form-control {
	height: calc(1.6em + .5rem + 2px);
	border-color: #E3EAF1;
}

.border-top-dashed {
	border-top: 2px dashed #e3ead7 !important;
}

.border-left-dotted {
	border-left: 1px dashed rgba(0, 0, 0, 0.1) !important;
}

.border-top,
.border-left,
.border-bottom,
.border-right {
	border-color: rgba(0, 0, 0, 0.1) !important;
}

.progress {
	background-color: rgba(0, 0, 0, 0.05)
}

/* h group  */
h1 {
	font-size: 50px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 18px;
}

/* heights  */
.h-2 {
	height: 2px;
}

.h-4 {
	height: 4px;
}

.h-6 {
	height: 6px;
}

.h-8 {
	height: 8px;
}

.h-10 {
	height: 10px;
}

.h-100px {
	height: 100px;
}

.h-150 {
	height: 150px;
}

.h-200 {
	height: 200px;
}

.h-190 {
	height: 190px;
}

.h-250 {
	height: 250px;
}

/* top  */
.top-30 {
	margin-top: -30px;
}

.top-50 {
	margin-top: -50px;
}

.top-100 {
	margin-top: -100px;
}

.top-150 {
	margin-top: -150px;
}

.top-200 {
	margin-top: -200px;
}

/* bottom  */
.bottom-15 {
	position: relative;
	bottom: -15px;
}

.bottom-20 {
	position: relative;
	bottom: -20px;
}

.bottom-40 {
	position: relative;
	bottom: -40px;
}

.bottom-50 {
	position: relative;
	bottom: -50px;
}

.z-1 {
	z-index: 1
}

.z-0 {
	z-index: 0
}

/* popover  */
.popover {
	border: 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
	-ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
}

/* Notifications  */
.new-notification {
	height: 10px;
	width: 10px;
	border-radius: 6px;
	background-color: #05AC82;
	display: block;
	position: absolute;
	top: 10px;
	right: 15px;
	border: 2px solid #3C3972;
}

.counts {
	height: 16px;
	width: 16px;
	border-radius: 10px;
	background-color: #FF0068;
	display: block;
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 10px;
	color: #ffffff;
	text-align: center;
	line-height: 16px;
	vertical-align: middle;
}

/* List items  */
.list-items {
	padding: 0;
	margin: 0;
	width: 100%;
	display: block;
}

.list-items li {
	margin-bottom: 5px;
	border-radius: 10px;
	background-color: #eef2f5;
	width: 100%;
	display: block;
	padding: 10px 15px;
	line-height: 20px;
}

.list-items li:last-child {
	margin-bottom: 0
}

.list-group .list-group-item {
	padding: 0.75rem 15px;
}

/*.list-group .list-group-item:hover {
    background-color: #FF0068;
}

.list-group .list-group-item:hover * {
    color: #FFFFFF !important
}
.list-group .list-group-item:hover .form-control{
    color: #000000 !important ;
}*/

/*.list-group-item.active {*/
	/*z-index: 2;*/
	/*color: #343a40;*/
	/*background-color: #e1f0ff;*/
	/*border-color: #ffffff;*/
/*}*/

/*.list-group-item.active:hover * {*/
	/*color: #343a40 !important;*/
/*}*/

/* Nav tabs  */
.nav-tabs {
	z-index: 0;
	border: 0;
	margin-bottom: -11px;
}



.nav-tabs .nav-link {
	padding: 15px 15px 25px 15px;
	border: 0;
	border-radius: 15px 15px 0 0;
}


.nav-tabs .nav-link.active {
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	-webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	-moz-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	-ms-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.tab-content {
	position: relative;
	z-index: 1;
}

.tab-content .tab-pane {
	padding: 5px;
	background-color: #ffffff;
	box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .075);
	-webkit-box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .075);
	-moz-box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .075);
	-ms-box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .075);
	border-radius: 15px;
}

/* card */
.card .card-header .nav-tabs {
	margin-bottom: -1px;
	text-align: center
}

.card-img:first-child {
	border-radius: 10px 10px 0 0;
}

.card .card-header .nav-tabs .nav-link {
	padding: 15px;
}

.card .card-header .nav-tabs .nav-link.active {
	box-shadow: 0 -0.125rem .125rem rgba(0, 0, 0, .075);
	-webkit-box-shadow: 0 -0.125rem .125rem rgba(0, 0, 0, .075);
	-moz-box-shadow: 0 -0.125rem .125rem rgba(0, 0, 0, .075);
	-ms-box-shadow: 0 -0.125rem .125rem rgba(0, 0, 0, .075);
}

.card .card-header {
	border: 0;
	border-radius: 11px;
}

.card .card-footer {
	border: 0;
	border-radius: 0 0 12px 12px;
}

.card .card-header .card-title {
	margin-bottom: 0;
}

.card .tab-content .tab-pane {
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
}

.card {
	border-radius: 10px;
	border: 0;
}

.card .card-body {
	padding: 15px 15px;
}

/* Notification */
.notification {
	padding: 15px;
	background-color: #ffffff;
	position: fixed;
	top: -30%;
	width: 84%;
	max-width: 400px;
	margin: 0 auto;
	left: 0;
	right: 0;
	border-left-width: 3px;
	border-left-style: solid;
	z-index: 10;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	border-radius: 5px;
	overflow: hidden;
}

.notification.active {
	top: 30px;
	opacity: 1;

}

.notification.bottom {
	bottom: -30%;
	opacity: 0;
	top: auto;
}

.notification.bottom.active {
	bottom: 30px;
	opacity: 1;

}

/* header */

.header {
	width: 100%;
	height: auto;
	position: fixed;
	padding: env(safe-area-inset-top);
	top: 0;
	left: 0;
	z-index: 9;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	-webkit-backdrop-filter: saturate(125%) blur(10px);
	-moz-backdrop-filter: saturate(125%) blur(10px);
	-ms-backdrop-filter: saturate(125%) blur(10px);
	backdrop-filter: saturate(125%) blur(10px);
}

.header.active {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.header-logo {
	height: auto;
	max-height: 41px;
	display: inline-block;
	vertical-align: middle;
	margin: 2px auto 0px auto;
}

.header .btn {
	height: 54px;
	width: 54px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.header + div {
	padding-top: 54px;
}


/* footer */
.footer {
	/*width: 100%;*/
	/*height: auto;*/
	/*position: fixed;*/
	/*padding-bottom: env(safe-area-inset-bottom);*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*z-index: 9;*/
	/*transition: all ease 0.5s;*/
	/*-webkit-transition: all ease 0.5s;*/
	/*-moz-transition: all ease 0.5s;*/
	/*-ms-transition: all ease 0.5s;*/
	/*background: rgba(255, 255, 255, 0.80);*/
	/*box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);*/
	/*-webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);*/
	/*-moz-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);*/
	/*-ms-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);*/
	/*-webkit-backdrop-filter: saturate(125%) blur(10px);*/
	/*-moz-backdrop-filter: saturate(125%) blur(10px);*/
	/*-ms-backdrop-filter: saturate(125%) blur(10px);*/
	/*backdrop-filter: saturate(125%) blur(10px);*/
}


/*.footer .btn {*/
	/*width: 60px;*/
	/*height: 60px;*/
	/*line-height: 54px;*/
	/*padding: 0;*/
	/*text-align: center;*/
	/*display: block;*/
	/*vertical-align: middle;*/
/*}*/

/*.footer .btn i {*/
	/*width: 24px;*/
	/*margin: 0 auto;*/
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	/*position: relative;*/
/*}*/

/*.footer .btn.active i:after {*/
	/*content: "";*/
	/*left: 0;*/
	/*right: 0;*/
	/*bottom: -8px;*/
	/*height: 4px;*/
	/*width: 70%;*/
	/*border-radius: 2px;*/
	/*display: block;*/
	/*margin: 0 auto;*/
	/*position: absolute;*/
/*}*/


/* page specific */
.subtitle {
	font-size: 16px;
	line-height: 26px;
	margin-top: 30px;
	margin-bottom: 15px;
	text-transform: uppercase
}

.subtitle span {
	vertical-align: middle;
	display: inline-block;
	line-height: 26px;
	border-bottom: 2px solid #ffffff;
}

.logo-small {
	width: 220px;
}

.form-signin {
	max-width: 320px;
	margin: 0 auto;
}

/* siders */

.small-slide {
	height: 150px;
}

.small-slide .swiper-slide {
	width: 165px;
	padding-bottom: 10px;
	padding-right: 15px;
}

.small-slide .swiper-slide .card {
	border-radius: 15px;
	margin-left: 15px;
	height: 100%;
	width: 92%;
}

.small-slide .swiper-slide .card-body {
	position: relative
}

.small-slide .swiper-slide .small-slide-right {
	max-height: 100%;
	margin-right: -45px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.badge {
	border-radius: 30px;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px
}


.two-slide {
	height: 120px;
}

.two-slide .swiper-slide {
	padding: 0 15px;
}

.two-slide .swiper-slide p small {
	width: 100%;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.icon-slide {
	height: 85px;
}

.icon-slide .swiper-slide {
	padding: 0 15px;
	width: auto;
}

.offer-slide {
	height: auto;
	margin-bottom: -15px;
}

.offer-slide .swiper-slide {
	padding: 0 15px;
	width: 310px;
}

.offer-slide .swiper-slide > .card {
	margin-bottom: 15px;
}

.icon-slide .swiper-slide p,
.icon-slide .swiper-slide:hover p,
.icon-slide .swiper-slide:focus p {
	color: #000000;
	text-decoration: none
}

.news-slide {
	height: 180px;
	padding-bottom: 20px;
}

.news-slide .swiper-slide {
	padding: 0 15px 10px 15px;
}

.news-slide .swiper-slide .card {
	overflow: hidden;
	height: 100%;
	margin: 0;
}

.news-slide.swiper-container-horizontal > .swiper-pagination-bullets {
	margin-bottom: -10px;
}




/* Rules for sizing the icon. */
.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

.text-normal {
	text-transform: none
}

/* progress bar */
.progress-bar {
	border-radius: 10px;
}

.progress-sm {
	height: 8px;
	padding: 2px;
}

/* product details  */
.product-details {
	height: 300px;
}

.product-details {}

.product-details .swiper-slide {
	padding: 20px 15px 40px 15px;
	line-height: 200px;
	text-align: center
}

.product-details .swiper-slide > img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;

}


/* avatar */

.avatar {
	border-radius: 200px;
	display: inline-block;
	margin: 0px auto;
	background-color: #ffffff;
	overflow: hidden;
	border: 2px solid #ffffff;
	vertical-align: top;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	position: relative;
}

.avatar.no-shadow {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
}

.avatar .overlay {
	overflow: hidden;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	opacity: 0.3;
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.avatar img {
	width: 100%;
	vertical-align: top;
	position: relative;
	z-index: 1;
}

.avatar i {
	vertical-align: middle;
	position: relative;
	z-index: 1;
}

.avatar-20 {
	height: 20px;
	line-height: 16px;
	vertical-align: middle;
	width: 20px;
}

.avatar-40 {
	height: 40px;
	line-height: 36px;
	vertical-align: middle;
	width: 40px;
}

.avatar-60 {
	height: 60px;
	line-height: 56px;
	vertical-align: middle;
	width: 60px;
}

.avatar-80 {
	height: 80px;
	line-height: 76px;
	vertical-align: middle;
	width: 80px;
}

.avatar-100 {
	height: 100px;
	line-height: 96px;
	vertical-align: middle;
	width: 100px;
}

.avatar-120 {
	height: 120px;
	line-height: 116px;
	vertical-align: middle;
	width: 120px;
}

.avatar-50 {
	height: 50px;
	line-height: 46px;
	vertical-align: middle;
	width: 50px;
}

.avatar-70 {
	height: 70px;
	line-height: 66px;
	vertical-align: middle;
	width: 70px;
}

.avatar-90 {
	height: 90px;
	line-height: 86px;
	vertical-align: middle;
	width: 90px;
}

.figure-profile {
	height: 100px;
	width: 100px;
	border-radius: 90px;
	border: 1px solid #FFffff;
	margin: 0 auto;
	position: relative;
}

.figure-profile figure {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 50%;
}

.figure-profile figure img {
	width: 100%;
	min-height: 100%;
}

.figure-profile > .floating-btn {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 38px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	position: absolute;
	z-index: 2;
	right: 0px;
	bottom: 0px;
	background: white;
}

.figure-profile .floating-btn i {
	font-size: 22px;
	margin: 0;
}

.float-file {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
	z-index: 1;
	opacity: 0
}

pre {
	background: #e8f4ff;
	padding: 15px;
}

.modal-content {
	border-radius: 15px;
	border: none;
}

.modal-dialog-end {
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flexbox;
	display: flex;
	-ms-flex-align: flex-end;
	-moz-flex-align: flex-end;
	-webkit-flex-align: flex-end;
	align-items: flex-end;
	min-height: calc(100% - 3.5rem);
}



/* media query */

@media screen and (max-width:374px) {
	.footer .btn {
		width: 50px;
	}

	.icons-raised {
		height: 40px;
		width: 40px;
		line-height: 40px;
	}

	.sidebar .main-menu .list-group-item {
		margin-bottom: 10px;
	}

	.two-slide figure.avatar {
		display: none
	}

	.introduction .swiper-slide img {
		max-width: 60% !important
	}
}



.theme-dark *::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

.theme-dark *::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.05);
}

.theme-dark *::-webkit-scrollbar-track {
	border-radius: 5px;
	background: rgba(0, 0, 0, 1);
}

/* RTL */
.rtl {
	direction: rtl;
	text-align: right;
}

.rtl body,
.rtl .text-left {
	text-align: right !important;
	direction: rtl;
}


.rtl body .sidebar {
	left: auto;
	right: -100%;
}

.rtl body.sidemenu-open .sidebar {
	left: auto;
	right: 0;
}

.rtl .sidebar .main-menu .list-group-item i {
	margin-right: 0;
	margin-left: 15px;
}

.rtl .pl-3 {
	padding-left: 0rem !important;
	padding-right: 1rem !important;
}

.rtl .ml-3 {
	margin-left: 0rem !important;
	margin-right: 1rem !important;
}

.rtl .pl-2 {
	padding-left: 0rem !important;
	padding-right: 0.5rem !important;
}

.rtl .ml-2 {
	margin-left: 0rem !important;
	margin-right: 0.5rem !important;
}


.rtl .mr-2 {
	margin-right: 0rem !important;
	margin-left: 0.5rem !important;
}

.rtl .ml-1 {
	margin-left: 0rem !important;
	margin-right: 0.25rem !important;
}

.rtl .mr-1 {
	margin-right: 0rem !important;
	margin-left: 0.25rem !important;
}

.rtl .pl-0 {
	padding-right: 0 !important;
	padding-left: 15px !important;
}

.rtl .pr-0 {
	padding-left: 0 !important;
	padding-right: 15px !important;
}

.rtl .modal-header .close {
	margin: -1rem auto -1rem -1rem;
}

.rtl .text-right {
	text-align: left !important;
}


.rtl .custom-switch .custom-control-label::after {
	left: calc(-1.50rem + 2px);
}

.rtl .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	left: calc(-3rem + 2px);
}

.rtl .nav-tabs {
	padding: 0
}

.rtl .float-right {
	float: left !important;
}

.rtl .search {
	background-position: center left;
}

.rtl .float-label .form-control-label {
	left: auto;
	right: 0;
}
.rtl .border-left {
	border-left: 0 !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.rtl .list-group{
	padding: 0
}

/* Chrome safari scrollbar */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	background: rgba(230, 230, 230, 0.4);
}
/*.header-logo{padding: 5px 0px;}*/
.menu-btn, .btn-inbox{font-size: 24px;}
.menu-btn i, .btn-inbox i{font-size: 32px;color:white; }

.container-blue{
	background-color: #27245C;
}

.container-light-blue{
	background-color: #3F3C6E;
}



.container-gray{
	background-color: #f2f2f2	;
}

.border-rounded{border-radius: 10px;}
.camera-icon{width: 40%;}
.text-logo-home{
	width: 200px;
}
.container-black{


	background-color: #151142;
}

.topBtn,.topBtn:hover{

	color: #07AB88;
	border-color: #07AB88;
	border-radius: 7px!important;
background: transparent;
	font-size: 16px;
	padding: .270rem .75rem;

	border: 2px solid #07AB88;
}

.login-btn:hover{color: white;}


.wt_btn_border,.wt_btn_border:hover{

	color: #ffffff;
	border-color: #ffffff;
	border-radius: 7px!important;
	font-size: 16px;
	padding: .270rem .75rem;
	border: 2px solid #ffffff;
	background: transparent;
	text-decoration: none;
}


.green-border-btn,.green-border-btn:hover{

	color: #07AB88;
	border-color: #07AB88;
	/*border-radius: 25px!important;*/

	font-size: 16px;
	padding: .270rem .75rem;

	border: 2px solid #07AB88;
}

.white-text{

	color: white;
}


.forgot-password-link{

	color: #007AFE!important; ;
	text-decoration: underline;
	opacity: 1;
}
.blue-text{

	color: #27245C;
}

.green-text{

	color: #05AC82!important;
}


.grey-text{

	color: #000000;
	opacity: 0.8;
}

.btn{

	/*padding: .270rem .75rem;*/
	text-transform: none;

}

.blue-btn{

	background: #3C3972;
	color: white;
	padding: .375rem .75rem;
	border-radius: 7px!important;


}
.btn{

	border-radius: 7px;

}

.home-icon{max-width: 41px;}
.blue-btn-border{

	border: 2px solid #3C3972;
color: #3C3972;


}

/*.container-divider {height: 1px; background: #ccc;margin:0 5%;}*/


.container-divider {height: 1px; background: #ccc;margin: auto}




.search-icon{height: 30px;}

.home-icon-bottom{height: 24px; margin-right: 20px;}
.footer-container ul{list-style: none; color: white;margin-bottom:10px;padding:0;}
.footer-container ul>li{margin-bottom:10px;}

.copright-text{font-size: 16px;}
.copright-text>ul{display: inline-flex;}
.copright-text>ul>li{margin-right: 15px;}
.menu_divider_line {height: 3px; width:50px; background: white; }

.text-heading{
	font-weight: bold;
}

.text-time-side{
	opacity: 0.5;
}

.green-dot {
	height: 10px;
	width: 10px;
	background-color: #07AD88;
	border-radius: 50%;
	display: inline-block;
	margin-left: 5px;
}


.orange-text {
	color: #FF9D00;

}
.orange-dot {
	height: 10px;
	width: 10px;
	background-color: #FF9D00;
	border-radius: 50%;
	display: inline-block;
	margin-left: 5px;
}


.text-logo-home-right {
	width: 180px;
	margin-left: 5px;
}

.login-btn{color: white;}
.btn-gray{
	background: #B1B1B1;
}

.btn-green{

	background: #07AD88;
	color:white;
}
.or-text-divider {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #999999;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.or-text-divider span {
	background:#fff;
	padding:0 10px;
	color: #999999;
}

.sign-up-btn{margin:5px auto;min-width:120px;text-align:center;height:45px;}


.forgot-password-block p.small{
	line-height: 1.75em;
}

.accountpage-list>a{background: transparent;color:white;}
.accountpage-list img{width: 39px;height: auto; padding: 5px;margin-right:30px;}
.accountpage-list .list-group-item{ font-size: 18px;margin-bottom:20px;}
.PrivateTabIndicator-colorSecondary-4{

	background-color: #07AD88 !important;
}


.custom-tabs-blue .PrivateTabIndicator-colorSecondary-4 {
	background-color:#151142!important;

}
.filter-icon{
	width: 28px;
	height: auto;
	margin-left: 15px;
}
.listing-row-border{

	/*border-top: 1px solid #70707062;*/
	border-bottom: 1px solid #70707062;
}


.listing-row-border-top{

	/*border-top: 1px solid #70707062;*/
	border-top: 1px solid #70707062;
}

.search-container .MuiFormControl-root{width: 100%;}
.content-box-listing p{
	line-height: 18px;

}

.content-box-listing .text-mute, .text-gray-light{
	color:#000000;
	opacity: 0.5 !important;


}


.tab-content-listing .MuiBox-root {

	padding: 24px 0px!important;
}
.icon-about{width: 16px!important;height: auto;}
.search-icon-middle{width: 75%;}
.my-search-icon-middle{

	width: 80px;
}

.floating-back-icon{
    position: absolute;left: 20px;top: 20px;z-index: 1000;
   cursor: pointer;

}


.accountpage p.small{


	line-height: 1.5em;
}

.heading-accordian{margin: 15px;}
/*.heading-accordian{margin-top: 15px;}*/
.header-container{

	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.MuiAccordion-root {box-shadow: none!important;border-radius:7px!important;border:1px #eee solid;}
.MuiAccordion-root::before {background: none!important;}
.dummy-text-field{
	font: inherit;
	color: #7e7e7e;
	border: 0;
	height: 1.1876em;
	margin: 0;
	display: block;
	padding: 6px 0 7px;
	min-width: 0;
	background: none;
	box-sizing: content-box;
	animation-name: mui-auto-fill-cancel;
	letter-spacing: inherit;
	animation-duration: 10ms;
	-webkit-tap-highlight-color: transparent;
	padding: 18.5px 14px;
	position: relative;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.26);


	border-style: solid;
	border-width: 1px;
	pointer-events: none;
}
.icon-left-select{height: 24px;}
.selected-row{border: 2px solid #07AD88;  border-radius:7px;  }
.unselected-row{border: 2px solid #eeeeee;  border-radius:7px;  }
.input-field-icon{width: 24px;}

.custom-bottom-appbar{position: fixed;bottom: 0;top: auto!important;}
.dummy-text-field>img{position: absolute;right: 5%;top: 20%;}
.gray-btn-border{

	border: 2px solid #EBEBEB;
	color: #959595;
	min-width: 150px!important;

}


.green-btn-border{

	border: 2px solid #07AD88;
	color: #07AD88;
	min-width: 120px!important;

}

.green-btn-min{

	min-width: 120px!important;
	background: #07AD88;
	color:white;


}


.camera-icon-preview{width: 75%; background: #eeeeee;}
.camera-grids .card{box-shadow: none!important;margin: 5px;border:1px solid #CECECE;}

.btn-select-free {
	width: 30%;
	margin-right:20px;
	border-radius: 25px;
	background:#E0E0E0;
	height:40px;
	text-align:center;
	float:left;
	color:#707070;
	line-height:34px;
}

.green-bg{

	background: #07AD88;
	color:#ffffff;
}


.tags{min-width: 20px;float: left;margin-right: 15px;background:#07AD88 ;color:white;border-radius:25px;padding:5px 15px;}
.search-input-field{border: none;text-align: center;font-size:16px;}
.topBtn a{color: #07AB88!important;text-decoration: none!important;}
.wl-link-white{color: white!important;font-size: 16px;}


.web-only{

	display: block;
}

.mobile-only{

	display: none;
}
.menu-align-right{
	text-align: right;
	width: 100%;
}

#navbar-brand>div>div>img.web-only{display: inline;}
@media only screen and (max-width: 991px) {

	.menu-align-right{
		text-align: none;
		width: auto;
	}

	.web-only{

		display: none;
	}

	.mobile-only{

		display: block;
	}

	#navbar-brand>div>div>img.web-only{display: none;}

}

.container-fluid{padding: 0;}



/*footer */




.footer {
	padding: 50px 0;
	background: #27245C;
}
.footer [class*="container-"] {
	padding: 0; }
.footer .nav {
	display: block;
	float: left;
	margin-bottom: 0;
	/*padding-top: 25px;*/
	list-style: none; }
.footer .nav-item {
	display: block; }
.footer .nav-link {
	color: #ffffff;
	padding: 0 0 10px 0;
	font-size: 0.75rem;
	text-transform: uppercase;
	text-decoration: none; }
.footer .nav-link:hover {
	text-decoration: none; color: #07AD88;}
.footer .title {
	text-align: left !important; }
.footer .copyright {
	font-size: 0.75rem;
	line-height: 1.8;
	color: #ffffff; }
.footer:after {
	display: table;
	clear: both;
	content: " "; }

.btn-icon:hover{color: white!important;}


.logo-link>img.web-only{display: inline;}


@media screen and (max-width: 991px) {

	.logo-link>img.web-only{display: none;}


	.footer {
		padding-left: 0px; }
	.footer .copyright {
		text-align: right;
		margin-right: 15px; } }

@media screen and (min-width: 992px) {
	.footer .copyright {
		float: right;
		padding-right: 30px; } }

@media screen and (max-width: 768px) {
	.footer nav {
		display: block;
		margin-bottom: 5px;
		float: none; } }

@media screen and (max-width: 576px) {
	.footer {
		text-align: center; }
	.footer .copyright {
		text-align: center; }
	.footer .nav {
		float: none;
		padding-left: 0; } }


.footer .btn{

	padding: 0 1rem 0 0;
}

.copright-text{color: white; }
.copright-text ul{list-style: none;}

.body-overlay{position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index:10000;background:#00000044;}
.body-overlay>.modal-popup{width: 40%;margin: auto;background: #ffffff;margin-top: 5%;}
.navbar .avatar-60{height: 32px; width: 32px;}
@media screen and (max-width: 991px) {

	.body-overlay>.modal-popup{width: 100%;
		margin: auto;background: #ffffff;
		margin-top: 0%;
	height: 100%;
	}

	.body-overlay{overflow: hidden;width: auto;}
	.body-overlay>div{overflow-y: scroll;}

}


/*.MuiInputBase-input {*/
	/*height: 1em!important;*/

/*}*/
.filter-page{position: fixed;background:white;top:10px;left:0px;border-radius: 10px}
.filter-icon{cursor: pointer;}
.filter-page{

	overflow: hidden;
	height: 100%;

}

.filter-page>.container{
	height: 90%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	margin-bottom: 100px;


}

.green-link{
	color: white!important;
	background: #07AD88;
	border-radius: 7px!important;
	vertical-align: middle;
	min-width: 135px;
	text-align: center;
	margin:auto 15px;

}

.navbar>div>.navbar-nav>.nav-item{
	margin: auto 5px;

}

.body-overlay{overflow: scroll;}
.forgot-password-link{cursor: pointer;}
.fgt-password-text{line-height: 22px!important;}
.btn-green:hover{color: white;}

.navbar-nav {
	/*display: flex;*/
	flex-direction: inherit;
	/*padding-left: 0;*/
	/*margin-bottom: 0;*/
	/*list-style: none;*/
}

.accountpage-list a{
	color: #27245C;
}

.accountpage-list svg{
	color: #A8A8A8;
	float: right;
	margin: auto;
	vertical-align: middle;
	margin: 5px;
	display: block;
}

.accountpage-list>a{border: none;}

.account-header-box{
	border: 1px solid #0000001F;
	border-radius: 25px;
	opacity: 1;
	margin:auto;
	padding:20px;
}

.account-header-box>.col-6>.figure-profile{height: 65px;width: 65px;border: none;}
.text-bold{font-weight: 600;}
.text-blue{
	color: #27245C;
}
.text-underline{text-decoration: underline;
	text-align: center;

}

.account-header-box h5{margin-top: 15px;}
.blue-btn>a{color: white!important;}



/*pagination*/

.pagination a{border:none;}
.page-next>a{
	background: #27245C;
	color:white;
	width: 40px;
	height: 40px;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border:  none!important;

}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: none!important;
	border-bottom-left-radius: !important;
	border-top-right-radius: none!important;
	border-bottom-right-radius: none!important;
}

.page-item:last-child .page-link {
	border-top-right-radius: none!important;
	border-bottom-right-radius: none!important;
	border-top-right-radius: none!important;
	border-bottom-right-radius: none!important;
}
.pagination a{color:#27245C!important;}

.pagination .active-page{text-decoration: underline;}

.pagination .active-page {
	text-decoration: underline;
}


.message-container {
	position: absolute;
	margin: auto;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #ffffff;
}
.message-container>div{

	background: white
}

.message-container .MuiBox-root>div{background: #05AD88;}

.message-container button{background: none;color: #05AD88;}
.btn-next{

	color: white
}
.preview-search-box>.preview-search-item{height:80px;width:80px;margin:auto;}
.preview-search-item{text-align: center;margin: auto;display: flex;background: #eee;}
.preview-search-item svg{text-align: center;margin:auto;}
.preview-search-box{cursor: pointer;}
/*.site-popup{width: 90%!important;padding:20px;*/
	/*height: auto!important;*/
	/*top: 20px;*/
/*}*/

.site-popup{padding: 5%;}
.column-empty-message {

	width: 100%;
	background:#eee;
	position: relative;
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	height: 90vh;

}
.column-empty-message p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
.loop-popup>div>div>.modal-body>div
{
	padding:10px 0px
}
.account-figure>figure{
	padding: 15px;
}

.account-figure{
	background: #F4F4F4
}
.tab-content-listing a {
	color: black;
}

.company-header .account-figure{
	float: left;
	margin-bottom: -49px;

}
.company-header{

	padding-top: 40px;

}
.search-column-left {
	background: #eee;
	text-align: center;
}
.search-column-left a{
	margin: auto;
	vertical-align: middle;
	top: 25%;
	position: relative;
}

.search-stage {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.custom-label{

	font-size: 16px;

}
.create-product-row .MuiFormControl-root{width: 100%;}
.add-listing-container .MuiFormControl-root{

	width: 100%;
}