$size: 10px;
$spread: 8px;
$trans: cubic-bezier(.9,0,.1,1);

.hamburger {

  position: relative;
  top: 0%; left: 50%;
  transform: translate(-50%, -50%);

  & > * {

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: $size;
    height: $size;
    border-radius: calc(#{$size} / 2);
    border: 1px solid white;
    background: white;
    //animation: anim 1000ms $trans 1 forwards;
  }

  .topleft { left: calc(50% - #{$spread}); top: calc(50% - #{$spread}); transform: translate(-50%,-50%) rotate(45deg); }
  .topright { left: calc(50% + #{$spread}); top: calc(50% - #{$spread}); transform: translate(-50%,-50%) rotate(45deg); }
  .bottomright { left: calc(50% + #{$spread}); top: calc(50% + #{$spread}); transform: translate(-50%,-50%) rotate(-45deg); }
  .bottomleft { left: calc(50% - #{$spread}); top: calc(50% + #{$spread}); transform: translate(-50%,-50%) rotate(-45deg); }



}




.hamburger-black {

  position: relative;
  top: 0%; left: 50%;
  transform: translate(-50%, -50%);


  & > * {

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: $size;
    height: $size;
    border-radius: calc(#{$size} / 2);
    border: 1px solid #1D1D1B;
    background: #1D1D1B;
    //animation: anim 1000ms $trans 1 forwards;
  }

  .topleft { left: calc(50% - #{$spread}); top: calc(50% - #{$spread}); transform: translate(-50%,-50%) rotate(45deg); }
  .topright { left: calc(50% + #{$spread}); top: calc(50% - #{$spread}); transform: translate(-50%,-50%) rotate(45deg); }
  .bottomright { left: calc(50% + #{$spread}); top: calc(50% + #{$spread}); transform: translate(-50%,-50%) rotate(-45deg); }
  .bottomleft { left: calc(50% - #{$spread}); top: calc(50% + #{$spread}); transform: translate(-50%,-50%) rotate(-45deg); }


}

.hamburger-anim {


  & > * {

    animation: anim 500ms $trans  forwards ;
  }

  .topleft { left: calc(50% - #{$spread}); top: calc(50% - #{$spread}); transform: translate(-50%,-50%) rotate(45deg); }
  .topright { left: calc(50% + #{$spread}); top: calc(50% - #{$spread}); transform: translate(-50%,-50%) rotate(45deg); }
  .bottomright { left: calc(50% + #{$spread}); top: calc(50% + #{$spread}); transform: translate(-50%,-50%) rotate(-45deg); }
  .bottomleft { left: calc(50% - #{$spread}); top: calc(50% + #{$spread}); transform: translate(-50%,-50%) rotate(-45deg); }


  @keyframes anim {

    //25% { top: 50%; left: 50%; bottom: auto; right: auto; height: $size; width: 10px; }
    100% { top: 50%; left: 50%; bottom: auto; right: auto; height: 38px; width: 6px; }

  }

}