.footerlink,
.footerlink:hover {
    color: #ffffff;
    padding: 0 0 10px 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
    height: 46px;
    display: inline-block;
}

.footerlink:hover {
    color: #07ad88;
}
